body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    justify-items: center;
    background-color: rgb(16, 100, 27);
    color: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.9);
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

p {
    font-weight: bold;
}

button {
    display: flex;
    width: 90%;
    padding: auto;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
    background-color: goldenrod;
    font-weight: bold;
    font-size: large;
    font-family: inherit;
    color: rgb(2, 66, 2);
    border: none;
    border-radius: 2px;
}

button:hover {
    background-color: rgb(230, 230, 25);
}