body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #151327;
}

h1 {
    color: #ffffff;
}

h1 span {
    color: #59ffac;
}

h4 {
    color: #8a8888;
    margin-top: -10px;
    margin-bottom: 20px;
}

button {
    background-color: #419b6e;
    color: #151327;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #59ffac;
    color: #151327;
    transition: 0.5s;
}

p {
    color: #59ffac;
    font-size: 16px;
    word-break: break-all;
    margin: 20px 0; 
    height: 25px;
    background-color: #343146;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;
}

.result {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}