body {
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    width: 300px;
    margin: 20px auto; 
    border-radius: 20px;
    height: 400px;
}

.button-container {
    position: relative;
    display: inline-block;
}

.button-container #stop-and-pause-btn {
    visibility: hidden;
    width: 90px;
        background-color: rgb(10, 179, 52);
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -40px;
        opacity: 0;
        transition: opacity 0.3s;
}

.button-container:hover #stop-and-pause-btn {
    visibility: visible;
    opacity: 100%;
}