body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 10px;
    background-image: linear-gradient(to top, rgb(218, 83, 195), rgb(154, 8, 211));
    width: 300px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.container .timer {
    display: flex;
    background-color: rgb(56, 56, 56);
    margin: 10px auto;
    width: 70%;
    height: 140px;
    border-radius: 10px;
    margin: 20px;
    justify-content: center;
    box-shadow: 0px 2px 5px 4px rgb(0, 0, 0, 0.1);
}

.container .record-btn {
    display: flex;
        background-color: rgb(185, 1, 1);
        margin: 10px auto;
        width: 30%;
        height: 95px;
        border-radius: 50%;
        margin: 20px;
        justify-content: center;
        box-shadow: 0px 2px 5px 4px rgb(0, 0, 0, 0.1);
}

footer {
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    border: 1px inherit;
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.1);
}

footer div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: aliceblue;
    background-color: transparent;
}

footer div:hover {
    background-color: purple;
    border-radius: 30px;
    transition: 400ms; 
    
}