body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* CONTAINER */
.container {
    display: inline-block;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* COUNTER DISPLAY */
.counter {
    font-size: 3em;
    margin-bottom: 20px;
    color: #000000;
}

h2 {
    margin-bottom: 20px;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 0 auto 20px;
    background-color: #ffffff;
}

/* BUTTONS */
button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px 10px;
    border-radius: 20px;
    width: 150px;
    cursor: pointer;
    background-color: #0db912;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

button#increase:hover {
    background-color: #0c8d13;
}

button:active {
    transform: scale(0.95);
}

button#decrease {
    background-color: #f51202;
}

button#decrease:hover {
    background-color: #990e04;
}

.save-btn {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button#save-btn {
    background-color: #008CBA;
    width: 100%;
    font-size: 1em;
}