body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    min-width: 400px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

#delete-btn {
    background-color: #ffffff;
    margin-left: 2px;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

button:hover {
    background-color: #45a049;
}

#delete-btn:hover {
    transition: 100ms ease-in-out;
}

.button-container {
    position: relative;
    display: inline-block;
}

.button-container .tooltip {
    visibility: hidden;
    width: 90px;
    background-color: rgb(10, 179, 52);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.button-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

ul {
    padding: 0;
    margin: 20px 0;
}

li{
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

li a {
    color: #5eb83a;
}