body {
    padding: 0;
    margin: 0;
    background-color: rgb(106, 197, 106);
}

div {
    box-shadow: 0px 4px 7px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid;
    margin: 50px auto;
    padding: 10px;
    width: 350px;
    flex-direction: column;
}

#apple-shelf {
    background-color: rgb(255, 114, 144);
    height: 50px;
    width: 90%;
    margin: 10px auto;
} 

#orange-shelf {
    background-color: rgb(255, 190, 92);
    height: 50px;
    width: 90%;
    margin: 10px auto;
}