body {
    padding: 0;
    margin: 0;
    background-color: rgb(106, 197, 106);
}
.container {
    box-shadow: 0px 4px 7px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid;
    margin: 50px auto;
    padding: 10px;
    width: 350px;
    flex-direction: column;
    font-size: xx-large;
    background-image: url(download.jpg);
    text-shadow: 3px 3px 6px black;
}

#apple-shelf {
    background-color: rgb(255, 114, 144);
    height: 80px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid;
} 

#orange-shelf {
    background-color: rgb(255, 190, 92);
    height: 80px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid;
}